<footer>
    <div class="row p-4 bg-body-tertiary border-top">
        <div class="col-6 col-md-2 offset-md-1 mb-2">
            <h5 class="fancy-font">Quantum Arc</h5>
            <ul class="nav flex-column fancy-font">
                <li class="nav-item mb-2"><a href="/quantum-arc/home" class="nav-link p-0 text-body-secondary">Home</a></li>
                <li class="nav-item mb-2"><a href="/quantum-arc/faq" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                <li class="nav-item mb-2"><a href="/quantum-arc/about" class="nav-link p-0 text-body-secondary">About</a></li>
            </ul>
        </div>
        <div class="col-6 col-md-2 mb-2">
            <h5 class="fancy-font">Draw Steel & MCDM</h5>
            <ul class="nav flex-column fancy-font">
                <li class="nav-item mb-2"><a href="https://www.mcdmproductions.com/" class="nav-link p-0 text-body-secondary">MCDM Home</a></li>
                <li class="nav-item mb-2"><a href="https://www.mcdmproductions.com/draw-steel-creator-license" class="nav-link p-0 text-body-secondary">Creator License</a></li>
                <li class="nav-item mb-2"><a href="https://mcdm-rpg.backerkit.com/hosted_preorders" class="nav-link p-0 text-body-secondary">Preorder DRAW STEEL</a></li>
            </ul>
        </div>
        <div class="col-md-6 offset-md-1 mb-2">
            <p><b>Quantum Arc</b> is an independent product published under the <i>DRAW STEEL</i> Creator License and is not affiliated with MCDM Productions, LLC.</p>
            <p><i>DRAW STEEL © 2024 MCDM Productions, LLC.</i></p>
            
                
        </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center px-4 pt-3 border-top bg-body-secondary">
        <div class="col-md-4 d-flex align-items-center">
            <a href="{{ site.url }}" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Mizzenmast">
                <img src="/assets/img/MizzenmastLogo.svg" alt="Mizzenmast" width="30">
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Mizzenmast</span>
        </div>
        <ul class="list-unstyled d-flex">
            <li class="ms-3">
                <a class="link-body-emphasis" href="#" aria-label="Powered by DRAW STEEL">
                    <img src="https://images.squarespace-cdn.com/content/v1/59b345e82994caee6bd4c397/9da38f21-7174-4e29-967b-22e55e37d98e/Powered+By+Draw+Steel.png?format=1500w" width="200px" >
                </a>
            </li>
        </ul>
    </div>

</footer>