<footer>
    <div class="row p-4 bg-body-tertiary border-top">
        <div class="col-6 col-md-2 offset-md-1 mb-2">
            
        </div>
        <div class="col-6 col-md-2 mb-2">
            
        </div>
        <div class="col-md-6 offset-md-1 mb-2">            
                
        </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center px-4 pt-3 border-top bg-body-secondary">
        <div class="col-md-4 d-flex align-items-center">
            <a href="{{ site.url }}" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Mizzenmast">
                <img src="/assets/img/MizzenmastLogo.svg" alt="Mizzenmast" width="30">
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Mizzenmast</span>
        </div>
    </div>

</footer>