<nav class="navbar sticky-top navbar-expand-lg" id="main-navigation"  data-bs-theme="dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="{{site.url}}">
          <img src="/assets/img/MizzenmastLogo.svg" alt="Quantum Arc" height="30" class="white-logo"><span class="d-none d-md-inline px-2 fancy-font fs-4">Mizzenmast</span>
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-auto me-0" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-nav-scroll ms-auto me-0 justify-content-end fancy-font">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{site.url}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quantum-arc">Quantum Arc</a>
        </li>
      </ul>
    </div>
  </div>
</nav>