<nav class="navbar sticky-top navbar-expand-lg" id="main-navigation"  data-bs-theme="dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/quantum-arc">
          <img src="/assets/img/QALight.svg" alt="Quantum Arc" height="30"><span class="d-none d-md-inline px-2 fancy-font fs-4">Quantum Arc</span>
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-auto me-0" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-nav-scroll ms-auto me-0 justify-content-end fancy-font">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/quantum-arc">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ancestries
          </a>
          <ul class="dropdown-menu">
            <li><h6 class="dropdown-header">Overview</h6></li>
            <li><a class="dropdown-item" href="/quantum-arc/overview/ancestry-overview">Ancestry Overview</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><h6 class="dropdown-header">Ancestry Listing</h6></li>
            {% for ancestries in site.ancestries %}
              <li><a class="dropdown-item" href="{{ ancestries.url }}">{{ ancestries.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Classes
          </a>
          <ul class="dropdown-menu">
            <li><h6 class="dropdown-header">Overview</h6></li>
            <li><a class="dropdown-item" href="/quantum-arc/overview/class-overview">Class Overview</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><h6 class="dropdown-header">Class Listing</h6></li>
            {% for classes in site.classes %}
              <li><a class="dropdown-item" href="{{ classes.url }}">{{ classes.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Monsters
          </a>
          <ul class="dropdown-menu">
            <li><h6 class="dropdown-header">Overview</h6></li>
            <li><a class="dropdown-item" href="/quantum-arc/overview/monster-overview">Monster Overview</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><h6 class="dropdown-header">Monster Listing</h6></li>
            {% for monsters in site.monsters %}
              <li><a class="dropdown-item" href="{{ monsters.url }}">{{ monsters.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rules
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><h6 class="dropdown-header">Overview</h6></li>
            <li><a class="dropdown-item" href="/quantum-arc/overview/rules-overview">Rules Overview</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><h6 class="dropdown-header">General</h6></li>
            {% for rules in site.rules %}
            {% if rules.ruletype == "General" %}
              <li><a class="dropdown-item" href="{{ rules.url }}">{{ rules.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li><hr class="dropdown-divider"></li>
            <li><h6 class="dropdown-header">Combat</h6></li>
            {% for rules in site.rules %}
            {% if rules.ruletype == "Combat" %}
              <li><a class="dropdown-item" href="{{ rules.url }}">{{ rules.title }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quantum-arc/faq">FAQs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>