---
layout: null
---
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
      --primaryThemeColor: #1d3362;
      --primaryContrastColor: #ffffff;
      --secondaryThemeColor: #ff8800;

      --honeycombColor: #121f3b;
      --honeycombBorderColor: #1d3362;
      --honeycombSize: 15px;

      --honeycombBG: radial-gradient(circle farthest-side at 0% 50%, var(--honeycombColor) 23.5%, transparent 0)calc(var(--honeycombSize)*0.7) var(--honeycombSize),
          radial-gradient(circle farthest-side at 0% 50%, var(--honeycombBorderColor) 24%, transparent 0)calc(var(--honeycombSize)*19/30) var(--honeycombSize),
          linear-gradient(var(--honeycombColor) 14%, transparent 0, transparent 85%, var(--honeycombColor) 0)0 0,
          linear-gradient(150deg, var(--honeycombColor) 24%, var(--honeycombBorderColor) 0, var(--honeycombBorderColor) 26%, transparent 0, transparent 74%, var(--honeycombBorderColor) 0, var(--honeycombBorderColor) 76%, var(--honeycombColor) 0)0 0,
          linear-gradient(30deg, var(--honeycombColor) 24%, var(--honeycombBorderColor) 0, var(--honeycombBorderColor) 26%, transparent 0, transparent 74%, var(--honeycombBorderColor) 0, var(--honeycombBorderColor) 76%, var(--honeycombColor) 0)0 0,
          linear-gradient(90deg, var(--honeycombBorderColor) 2%, var(--honeycombColor) 0, var(--honeycombColor) 98%, var(--honeycombBorderColor) 0%)0 0 var(--honeycombColor);
      --honeycombBGLight: radial-gradient(circle farthest-side at 0% 50%, var(--honeycombColorLight) 23.5%, transparent 0)calc(var(--honeycombSize)*0.7) var(--honeycombSize),
          radial-gradient(circle farthest-side at 0% 50%, var(--honeycombBorderColorLight) 24%, transparent 0)calc(var(--honeycombSize)*19/30) var(--honeycombSize),
          linear-gradient(var(--honeycombColorLight) 14%, transparent 0, transparent 85%, var(--honeycombColorLight) 0)0 0,
          linear-gradient(150deg, var(--honeycombColorLight) 24%, var(--honeycombBorderColorLight) 0, var(--honeycombBorderColorLight) 26%, transparent 0, transparent 74%, var(--honeycombBorderColorLight) 0, var(--honeycombBorderColorLight) 76%, var(--honeycombColorLight) 0)0 0,
          linear-gradient(30deg, var(--honeycombColorLight) 24%, var(--honeycombBorderColorLight) 0, var(--honeycombBorderColorLight) 26%, transparent 0, transparent 74%, var(--honeycombBorderColorLight) 0, var(--honeycombBorderColorLight) 76%, var(--honeycombColorLight) 0)0 0,
          linear-gradient(90deg, var(--honeycombBorderColorLight) 2%, var(--honeycombColorLight) 0, var(--honeycombColorLight) 98%, var(--honeycombBorderColorLight) 0%)0 0 var(--honeycombColorLight);
          --honeycombBGSize: calc(var(--honeycombSize)*4/3) calc(var(--honeycombSize)*2);
      --header-font: 'Orbitron', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

.avatar-img {
  -webkit-filter: drop-shadow( 0 5px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 0 5px 2px rgba(0, 0, 0, .7));
}

.navbar-custom {
  background: var(--honeycombBG);
  background-size: var(--honeycombBGSize);
  border-bottom: 1px solid var(--secondaryThemeColor) !important;
  box-shadow: 0 3px 3px;
}

.navbar-custom .avatar-container {
margin-top: 2rem;
}

.navbar-custom .navbar-nav .nav-item a:hover,
.navbar-custom .navbar-nav .nav-item a:focus {
  color: var(--primaryContrastColor);
}
.page-heading {
  color: var(--primaryThemeColor);
}


/* SITE NAME ANIMATION */

.title-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: var(--header-font);
}

.title-animation-header {
 text-align: center;
 margin-top: 0;
 font-size: 3.125rem;
}

.title-animation-subheader {
  font-size: 1.6875rem;
  line-height: 1.1;
  font-family: var(--header-font);
  font-weight: 300;
  margin: 0.625rem 0 0;
  margin-bottom: 1.25rem;
}

.mask {
  overflow: hidden;
}

.full-width {
  width: 100%;
  text-align: center;
}

.reveal-to-right {
  transform: translateX(-100%);
  animation: reveal-to-right 1.2s 1.8s forwards;
}

@keyframes reveal-to-right {
  from {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.reveal-to-left {
  transform: translateX(100%);
  animation: reveal-to-left 1s 1s forwards;
}

@keyframes reveal-to-left {
  from {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.border-left {
  height: 32px;
  border-left: 5px solid black;
  animation: grow 5s forwards;
}

@keyframes grow {
  0% {
    height: 0;
  }
  20%, 90% {
    height: 48px;
    opacity: 1;
  }
  
  100% {
    height: 48px;
  }
}

.reveal-to-bottom {
  transform: translateY(-100%);
  animation: reveal-to-bottom 1s 3.3s forwards;
}

@keyframes reveal-to-bottom {
  from {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}



/* --- Custom Script --- */

.ds-ability {
    margin: 1rem 0;
    padding-bottom: 2rem;
    background: var(--honeycombBG);
    background-size: var(--honeycombBGSize);
    color: #fff;
    --aug-border-bg: var(--primaryThemeColor);
    --aug-border-all: 3px;
  }
  
  .ds-ability > h6 {
    width: 100%;
    background-color: var(--primaryThemeColor);
    margin: 0;
    padding: 0.5rem 0 0.5rem 4rem;
    font-size: 1.25rem;
  }
  
  .ds-ability > blockquote {
    margin: 0;
    width: 100%;
    background-color: var(--transparentThemeColor);
    color: var(--primaryThemeColor);
    padding: 0.5rem 2rem;
  }
  
  .ds-ability > blockquote > p {
    margin: 0 !important;
  }
  
  .ds-ability > strong {
    color: var(--primaryThemeColor);
  }
  
  .ds-ability table {
    width: 100%;
    margin: 0 2rem 1rem;
  }
  
  .ds-ability > table, .ds-ability > table tr, .ds-ability > table td {
    border: 0px transparent !important;
    background: transparent !important;
    font-size: 0.9rem;
  }
  
  .ds-ability > p {
    margin: 0 !important;
    padding: 0 3rem;
  }
  
  .ds-ability > ul {
    margin: 0 !important;
    line-height: normal;
    padding: 0 3rem 0;
  }
  
  .ds-power-roll > ul {
    margin-bottom: 1rem;
  }
  
  .ds-power-roll > ul > li:nth-of-type(1):before {
    content: "11 or lower: ";
    font-weight: 800;
  }
  .ds-power-roll > ul > li:nth-of-type(2):before {
    content: "12 to 16: ";
    font-weight: 800;
  }
  .ds-power-roll > ul > li:nth-of-type(3):before {
    content: "17+: ";
    font-weight: 800;
  }