---
layout: null
---
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Redacted');

:root {
      --primaryThemeColor: #881200;
      --transparentPrimaryThemeColor: rgba(136, 18, 0, 0.7);
      --primaryContrastColor: #ffffff;
      --secondaryThemeColor: #000000;
      --transparentSecondaryThemeColor: rgba(0, 0, 0, 0.7);

      --header-font: "Grenze Gotisch", serif;
}

/* OVERRIDE STYLES */

.avatar-img {
  object-fit: fill;
  -webkit-filter: drop-shadow( 0 5px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 0 5px 2px rgba(0, 0, 0, .7));
}

.page-heading {
  color: var(--secondaryThemeColor);
}



.navbar-custom {
  background: var(--primaryThemeColor);
  box-shadow: 0 3px 3px;

}


.navbar-custom .navbar-nav .nav-item {
  text-transform: none;
  font-size: 1rem;
}

.navbar-custom .navbar-nav .nav-item a:hover,
.navbar-custom .navbar-nav .nav-item a:focus {
  color: var(--primaryContrastColor);
}

.page-heading {
  color: var(--primaryThemeColor);
}

.post-preview .post-title {
  font-size: 1.5rem;
}

.full-width {
  width: 100%;
  text-align: center;
}

table tr th {
  background-color: var(--primaryThemeColor);
  color: var(--primaryContrastColor);
}

summary .codex-category{
  font-size: 1.5rem;
  font-family: var(--header-font);
}

/* SITE NAME ANIMATION */

.roaring-lands-title {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: var(--header-font);
  margin-top: 0;
  font-size: 4rem;
  font-weight: 800;
  color: var(--secondaryThemeColor);
}

.roaring-lands-subtitle {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 1.25rem;
  color: var(--primaryThemeColor);

  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);

  -webkit-animation: horror-animation 5s infinite;
  -moz-animation: horror-animation 5s infinite;
  -o-animation: horror-animation 5s infinite;
  animation: horror-animation 5s infinite;
}

/* HIDDEN INFORMATION */

.redacted {
}

.redacted > a {
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
  color: #000000;
  font-family: 'Redacted';
  cursor: not-allowed;
}

.redacted::after {
  content: "[Undiscovered]";
  font-size: 0.8rem;
  color: var(--PrimaryThemeColor);
  margin-left: 1rem;
}

.hidden {
  display: none;
}

/* DS ABILITIES */

.ds-ability {
    margin: 1rem 0;
    padding-bottom: 1.5rem;
    background: var(--primaryThemeColor);
    --aug-border-bg: var(--primaryThemeColor);
  }
  
  .ds-ability > h6 {
    width: 100%;
    background-color: var(--primaryThemeColor);
    color: var(--primaryContrastColor);
    margin: 0;
    padding: 0.5rem 4rem;
    font-size: 1.25rem;
  }
  
  .ds-ability > blockquote {
    margin: 0;
    width: 100%;
    font-size: 0.85rem;
    background-color: var(--transparentPrimaryThemeColor);
    color: var(--primaryContrastColor);
    padding: 0.25rem 1rem;
  }
  
  .ds-ability > blockquote > p {
    margin: 0 !important;
  }
  
  .ds-ability table {
    width: 100%;
    margin: 0 1rem 1rem;
  }
  
  .ds-ability > table, .ds-ability > table tr, .ds-ability > table td {
    border: 0px transparent;
    background: transparent;
    font-size: 0.9rem;
  }
  
  .ds-ability > p {
    margin: 0;
    padding: 0 1rem;
  }
  
  .ds-ability > ul {
    margin: 0;
    line-height: normal;
    padding: 0 3rem 0;
  }
  
  .ds-power-roll > ul {
    margin-bottom: 1rem;
  }
  
  .ds-power-roll > ul > li:nth-of-type(1):before {
    content: "11 or lower: ";
    font-weight: 800;
  }
  .ds-power-roll > ul > li:nth-of-type(2):before {
    content: "12 to 16: ";
    font-weight: 800;
  }
  .ds-power-roll > ul > li:nth-of-type(3):before {
    content: "17+: ";
    font-weight: 800;
  }

/*REVEAL ANIMATION*
.reveal-to-right {
  transform: translateX(-100%);
  animation: title-reveal-to-right 1.2s 1.8s forwards;
}

@keyframes title-reveal-to-right {
  from {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.reveal-to-left {
  transform: translateX(100%);
  animation: title-reveal-to-left 1s 1s forwards;
}

@keyframes title-reveal-to-left {
  from {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.reveal-to-bottom {
  transform: translateY(-100%);
  animation: title-reveal-to-bottom 1s 3.3s forwards;
}

@keyframes title-reveal-to-bottom {
  from {
    transform: translateY(-125%);
  }
  100% {
    transform: translateY(0);
  }
}
*/
/*HORROR ANIMATION*/
@-webkit-keyframes horror-animation{0%{text-shadow:0 0 10px rgba(0,0,0,.1);left:51%;top:36%}5%{text-shadow:0 0 10px rgba(0,0,0,.2);left:50%;top:35%}10%{text-shadow:0 0 10px rgba(0,0,0,.3);left:49%;top:34%}15%{text-shadow:0 0 10px rgba(0,0,0,.4);left:50%;top:35%}16%{text-shadow:0 0 5px #fff;left:50%}17%{text-shadow:0 0 10px rgba(0,0,0,.4);left:50%}20%{text-shadow:0 0 10px rgba(0,0,0,.5);left:49%}25%{text-shadow:0 0 10px rgba(0,0,0,.6);left:49%}30%{text-shadow:0 0 10px rgba(0,0,0,.7);left:50%}35%{text-shadow:0 0 5px rgba(0,0,0,.8);left:50%}36%{text-shadow:0 0 5px #fff;left:50%}37%{text-shadow:0 0 5px rgba(0,0,0,.8);left:50%}40%{text-shadow:0 0 5px rgba(0,0,0,.9);left:51%}45%{text-shadow:0 0 5px rgba(0,0,0,.8);left:51%}50%{text-shadow:0 0 5px rgba(0,0,0,.7);left:51%}55%{text-shadow:0 0 10px rgba(0,0,0,.6);left:50%}56%{text-shadow:0 0 5px #fff;left:50%}57%{text-shadow:0 0 10px rgba(0,0,0,.6);left:52%}60%{text-shadow:0 0 10px rgba(0,0,0,.5);left:50%}65%{text-shadow:0 0 10px rgba(0,0,0,.4);left:50%}70%{text-shadow:0 0 10px rgba(0,0,0,.3);left:49%}75%{text-shadow:0 0 10px rgba(0,0,0,.2);left:49%}76%{text-shadow:0 0 5px #fff;left:50%}77%{text-shadow:0 0 10px rgba(0,0,0,.2);left:49%}80%{text-shadow:0 0 5px rgba(0,0,0,.1);left:49%}85%{text-shadow:0 0 5px rgba(0,0,0,.2);left:51%}86%{text-shadow:0 0 5px #fff;left:50%}87%{text-shadow:0 0 5px rgba(0,0,0,.2);left:51%}90%{text-shadow:0 0 5px rgba(0,0,0,.3);left:51%}95%{text-shadow:0 0 10px rgba(0,0,0,.4);left:51%}100%{text-shadow:0 0 10px rgba(0,0,0,.5);left:50%}}@-moz-keyframes horror-animation{0%{text-shadow:0 0 10px rgba(0,0,0,.1);left:51%;top:36%}5%{text-shadow:0 0 10px rgba(0,0,0,.2);left:50%;top:35%}10%{text-shadow:0 0 10px rgba(0,0,0,.3);left:49%;top:34%}15%{text-shadow:0 0 10px rgba(0,0,0,.4);left:50%;top:35%}16%{text-shadow:0 0 5px #fff;left:50%}17%{text-shadow:0 0 10px rgba(0,0,0,.4);left:50%}20%{text-shadow:0 0 10px rgba(0,0,0,.5);left:49%}25%{text-shadow:0 0 10px rgba(0,0,0,.6);left:49%}30%{text-shadow:0 0 10px rgba(0,0,0,.7);left:50%}35%{text-shadow:0 0 5px rgba(0,0,0,.8);left:50%}36%{text-shadow:0 0 5px #fff;left:50%}37%{text-shadow:0 0 5px rgba(0,0,0,.8);left:50%}40%{text-shadow:0 0 5px rgba(0,0,0,.9);left:51%}45%{text-shadow:0 0 5px rgba(0,0,0,.8);left:51%}50%{text-shadow:0 0 5px rgba(0,0,0,.7);left:51%}55%{text-shadow:0 0 10px rgba(0,0,0,.6);left:50%}56%{text-shadow:0 0 5px #fff;left:50%}57%{text-shadow:0 0 10px rgba(0,0,0,.6);left:52%}60%{text-shadow:0 0 10px rgba(0,0,0,.5);left:50%}65%{text-shadow:0 0 10px rgba(0,0,0,.4);left:50%}70%{text-shadow:0 0 10px rgba(0,0,0,.3);left:49%}75%{text-shadow:0 0 10px rgba(0,0,0,.2);left:49%}76%{text-shadow:0 0 5px #fff;left:50%}77%{text-shadow:0 0 10px rgba(0,0,0,.2);left:49%}80%{text-shadow:0 0 5px rgba(0,0,0,.1);left:49%}85%{text-shadow:0 0 5px rgba(0,0,0,.2);left:51%}86%{text-shadow:0 0 5px #fff;left:50%}87%{text-shadow:0 0 5px rgba(0,0,0,.2);left:51%}90%{text-shadow:0 0 5px rgba(0,0,0,.3);left:51%}95%{text-shadow:0 0 10px rgba(0,0,0,.4);left:51%}100%{text-shadow:0 0 10px rgba(0,0,0,.5);left:50%}}@-o-keyframes horror-animation{0%{text-shadow:0 0 10px rgba(0,0,0,.1);left:51%;top:36%}5%{text-shadow:0 0 10px rgba(0,0,0,.2);left:50%;top:35%}10%{text-shadow:0 0 10px rgba(0,0,0,.3);left:49%;top:34%}15%{text-shadow:0 0 10px rgba(0,0,0,.4);left:50%;top:35%}16%{text-shadow:0 0 5px #fff;left:50%}17%{text-shadow:0 0 10px rgba(0,0,0,.4);left:50%}20%{text-shadow:0 0 10px rgba(0,0,0,.5);left:49%}25%{text-shadow:0 0 10px rgba(0,0,0,.6);left:49%}30%{text-shadow:0 0 10px rgba(0,0,0,.7);left:50%}35%{text-shadow:0 0 5px rgba(0,0,0,.8);left:50%}36%{text-shadow:0 0 5px #fff;left:50%}37%{text-shadow:0 0 5px rgba(0,0,0,.8);left:50%}40%{text-shadow:0 0 5px rgba(0,0,0,.9);left:51%}45%{text-shadow:0 0 5px rgba(0,0,0,.8);left:51%}50%{text-shadow:0 0 5px rgba(0,0,0,.7);left:51%}55%{text-shadow:0 0 10px rgba(0,0,0,.6);left:50%}56%{text-shadow:0 0 5px #fff;left:50%}57%{text-shadow:0 0 10px rgba(0,0,0,.6);left:52%}60%{text-shadow:0 0 10px rgba(0,0,0,.5);left:50%}65%{text-shadow:0 0 10px rgba(0,0,0,.4);left:50%}70%{text-shadow:0 0 10px rgba(0,0,0,.3);left:49%}75%{text-shadow:0 0 10px rgba(0,0,0,.2);left:49%}76%{text-shadow:0 0 5px #fff;left:50%}77%{text-shadow:0 0 10px rgba(0,0,0,.2);left:49%}80%{text-shadow:0 0 5px rgba(0,0,0,.1);left:49%}85%{text-shadow:0 0 5px rgba(0,0,0,.2);left:51%}86%{text-shadow:0 0 5px #fff;left:50%}87%{text-shadow:0 0 5px rgba(0,0,0,.2);left:51%}90%{text-shadow:0 0 5px rgba(0,0,0,.3);left:51%}95%{text-shadow:0 0 10px rgba(0,0,0,.4);left:51%}100%{text-shadow:0 0 10px rgba(0,0,0,.5);left:50%}}@keyframes horror-animation{0%{text-shadow:0 0 10px rgba(0,0,0,.1);left:51%;top:36%}5%{text-shadow:0 0 10px rgba(0,0,0,.2);left:50%;top:35%}10%{text-shadow:0 0 10px rgba(0,0,0,.3);left:49%;top:34%}15%{text-shadow:0 0 10px rgba(0,0,0,.4);left:50%;top:35%}16%{text-shadow:0 0 5px #fff;left:50%}17%{text-shadow:0 0 10px rgba(0,0,0,.4);left:50%}20%{text-shadow:0 0 10px rgba(0,0,0,.5);left:49%}25%{text-shadow:0 0 10px rgba(0,0,0,.6);left:49%}30%{text-shadow:0 0 10px rgba(0,0,0,.7);left:50%}35%{text-shadow:0 0 5px rgba(0,0,0,.8);left:50%}36%{text-shadow:0 0 5px #fff;left:50%}37%{text-shadow:0 0 5px rgba(0,0,0,.8);left:50%}40%{text-shadow:0 0 5px rgba(0,0,0,.9);left:51%}45%{text-shadow:0 0 5px rgba(0,0,0,.8);left:51%}50%{text-shadow:0 0 5px rgba(0,0,0,.7);left:51%}55%{text-shadow:0 0 10px rgba(0,0,0,.6);left:50%}56%{text-shadow:0 0 5px #fff;left:50%}57%{text-shadow:0 0 10px rgba(0,0,0,.6);left:52%}60%{text-shadow:0 0 10px rgba(0,0,0,.5);left:50%}65%{text-shadow:0 0 10px rgba(0,0,0,.4);left:50%}70%{text-shadow:0 0 10px rgba(0,0,0,.3);left:49%}75%{text-shadow:0 0 10px rgba(0,0,0,.2);left:49%}76%{text-shadow:0 0 5px #fff;left:50%}77%{text-shadow:0 0 10px rgba(0,0,0,.2);left:49%}80%{text-shadow:0 0 5px rgba(0,0,0,.1);left:49%}85%{text-shadow:0 0 5px rgba(0,0,0,.2);left:51%}86%{text-shadow:0 0 5px #fff;left:50%}87%{text-shadow:0 0 5px rgba(0,0,0,.2);left:51%}90%{text-shadow:0 0 5px rgba(0,0,0,.3);left:51%}95%{text-shadow:0 0 10px rgba(0,0,0,.4);left:51%}100%{text-shadow:0 0 10px rgba(0,0,0,.5);left:50%}}