---
layout: base
---
{% include nav.html %}
<div class="container-flex vw-100 overflow-hidden">

  <section id="hero" class="container align-items-center p-0 m-0">
      <video autoplay muted loop id="QAVideo" class="object-fit-cover">
        <source src="/assets/video/blue-world.webm" type="video/webm">
      </video>
    <div class="container position-absolute text-center p-2 start-0 end-0" style="bottom: 25%;"data-aos="fade-up" data-aos-delay="500" data-bs-theme="dark">
      <img src="/assets/img/MizzenmastLogo.svg" width="200px" class="QA-shadow-logo">
      <h1 class="site-title fancy-font">Mizzenmast</h1>
          <a href="#welcome" class="btn btn-outline-light btn-lg header-button-shadow fancy-font">Find out more!</a>
    </div>
    <div class="inset-shadow"></div>
  </section>

  <main class="col-lg-8 mx-auto p-4 my-5">

    {{ content }}

  </main>

  {% include footer.html %}