---
layout: qa_base
---
{% include qa_nav.html %}
<div class="container-flex vw-100 overflow-hidden">

<main class="col-lg-8 mx-auto p-4 my-5">

  <h1 class="page-title">{% if page.title %}{{ page.title | strip_html }}{% else %}<br/>{% endif %}{% if page.is-change-or-new == "change" %}<span class="badge rounded-pill text-bg-success align-top status-pill">CHANGE</span>{% endif %}{% if page.is-change-or-new == "new" %}<span class="badge rounded-pill text-bg-primary align-top status-pill">NEW</span>{% endif %}</h1>

  {{ content }}

</main>

{% include qa_footer.html %}
